MYSQL_ROOT_PASSWORD=change-me-root-password
MYSQL_DATABASE=nike_store
MYSQL_USER=nike_app
MYSQL_PASSWORD=change-me-app-password

SPRING_PROFILES_ACTIVE=docker
APP_PORT=8080

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8080/api/payments/vnpay/return
VNPAY_IPN_URL=http://localhost:8080/api/payments/vnpay/ipn
VNPAY_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
